{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script src="{% static "scripts/switch.js" %}"></script>
    <script src="{% static "scripts/dygraph-combined.js" %}"></script>
{% endblock %}
{% block quotes %}{{quotes}}{% endblock %}
{% block period %}
    {% include period_state %}
{% endblock %}

{% block content %}
<h3>Центральный банк Российской Федерации установил с {{current_date}} следующие курсы иностранных валют к рублю Российской Федерации без обязательств Банка России покупать или продавать указанные валюты по данному курсу </h3>

    <div id="chart_container" class="left_container">
        <h3 id="currency_name" class="center_50">{{ currency_name }}</h3>
        {#  Построение графика изменения курса валюты и графика прогнозов на прошедший период времени  #}
        <div id="currency_graph" class="graph"></div>
        <script type="text/javascript">
            g = new Dygraph(
            document.getElementById("currency_graph"),

                {% for item in currency_values %}
                    "{{ item }}"+
                {% endfor %}
                ""
            );
        </script>
         <h3 id="currency_name" class="center_45">Прогноз {{ currency_name }}</h3>
        {#  Построение прогноза на будущее  #}
        <div id="forecast_graph" class="graph"></div>
        <script type="text/javascript">
            g = new Dygraph(
            document.getElementById("forecast_graph"),

                {% for item in forecast_values %}
                    "{{ item }}"+
                {% endfor %}
                ""
            );
        </script>
    </div>
    <table id="currency_table" border="0" class="currency_table">

        {% for item in currency_list %}
            <tr>
                {% if item.state %}
                    <td><a href="/{{item.link}}" style="color:#3CB371; text-decoration: none"><b>{{ item.char_code }}</b></a></td>
                    <td>{{ item.name }}</td>
                    <td style="color:#3CB371;"><b>{{ item.value }}</b></td>
                    <td>{{ item.units }}</td>
                    <td style="color:#3CB371;">+{{ item.change }}</td>
                    <td>
                        {% load staticfiles %}
                        <a href="/"><img width="20px" height="20px" src="{% static "images/currency/stats-graph.jpg" %}" alt="График"/></a>
                    </td>
                {% else %}
                    <td><a href="/{{item.link}}" style="color:#A52A2A; text-decoration: none"><b>{{ item.char_code }}</b></a></td>
                    <td>{{ item.name }}</td>
                    <td style="color:#A52A2A;"><b>{{ item.value }}</b></td>
                    <td>{{ item.units }}</td>
                    <td style="color:#A52A2A;">{{ item.change }}</td>
                    <td>
                        {% load staticfiles %}
                        <a href="/"><img width="20px" height="20px" src="{% static "images/currency/stats-graph.jpg" %}" alt="График"/></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}