body {
background: #FAFAD2;
color: #000000;
font-family: Trebuchet MS, Arial, Times New Roman;
font-size: 12px;
}

#container {
background: #FAFAD2;
margin: 20px auto;
width: 80%;
height: 1000px;
}

#header {
background: #FAFAD2;
height: 100px;
width: 100%;
}

#menu {
background: #20B2AA;
width: 100%;
height: 40px;
border-radius:10px;
font-size: 18px;
}

#menu_list{list-style:none; width:500px; padding:0; margin: auto;}
#menu_list li{float:left; font:bold 18px Arial;}
#menu_list a{color:#FFFFFF; display:block; height:40px; line-height:40px; padding:0px 30px 0px 30px; background:#20B2AA; text-decoration:none;}
#menu_list a:hover{color:#fff; background:#888;}


#period {
background: #FAFAD2;
width: 100%;
height: 40px;
}


.content {
background: #FAFAD2;
width: 100%;
height: auto;
}

#graphdiv {
background: #FAFAD2;
width: 85%;
height: 500px;
}

#footer {
background: #FAFAD2;
width: 100%;
height: 50px;
}

#currency_table {
border-spacing: 10px;
}

.white{
color: #FFFFFF;
font-weight: bold;
}


.currency_green {
border-width: 4px;
border-style: solid;
border-color: #3CB371;
border-radius:10px;
line-height: 0.6em;
width: 145px;
height: 90px;
}

.currency_red {
border-width: 4px;
border-style: solid;
border-color: #A52A2A;
border-radius:10px;
line-height: 0.6em;
width: 145px;
height: 90px;
}


