<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "style.css" %}" />
    {% block scripts %}{% endblock %}
</head>
<body>
<div id="container">
    <div id="header">
        {% load staticfiles %}
        <img style="float: left;" src="{% static "images/header/logo.png" %}" alt="My image"  width="390" height="75"/>
    </div>
    <div id="menu">
        <center>
            <ul id="menu_list">
                <li><a href="/">Курсы валют</a></li>
                <li><a href="/forecast/">Прогнозы</a></li>
                <li><a href="/">О сайте</a></li>
            </ul>
        </center>
    </div>
    <div id="period">
        {% block period %}{% endblock %}
    </div>
    <center>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </center>
    <div id="footer">
        <hr>
        <h4><p>Copyright © 2013-2014 Телеграфный завод</p></h4>
    </div>
</div>
</body>
</html>