<form action="/chart/" method="get">
    <select name="select_currency">
      <option>USD/RUB</option>
      <option>EUR/RUB</option>
      <option>AUD/RUB</option>
      <option>AZN/RUB</option>
      <option>AMD/RUB</option>
      <option>BYR/RUB</option>
      <option>BGN/RUB</option>
      <option>BRL/RUB</option>
      <option>HUF/RUB</option>
      <option>KRW/RUB</option>
      <option>DKK/RUB</option>
      <option>INR/RUB</option>
      <option>KZT/RUB</option>
      <option>CAD/RUB</option>
      <option>KGS/RUB</option>
      <option>CNY/RUB</option>
      <option>LVL/RUB</option>
      <option>LTL/RUB</option>
      <option>MDL/RUB</option>
      <option>RON/RUB</option>
      <option>TMT/RUB</option>
      <option>NOK/RUB</option>
      <option>PLN/RUB</option>
      <option>XDR/RUB</option>
      <option>SGD/RUB</option>
      <option>TJS/RUB</option>
      <option>TRY/RUB</option>
      <option>UZS/RUB</option>
      <option>UAH/RUB</option>
      <option>GBP/RUB</option>
      <option>CZK/RUB</option>
      <option>SEK/RUB</option>
      <option>CHF/RUB</option>
      <option>ZAR/RUB</option>
      <option>JPY/RUB</option>
    </select>
    Период с <input name="from_date" type="date" >
    по <input name="to_date" type="date" >
    <input type="submit" value="Построить график">
</form>
