{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript"  src="{% static "scripts/dygraph-combined.js" %}"></script>

{% endblock %}
{% block quotes %}{{quotes}}{% endblock %}
{% block period %}
    <p>
    <center>{% include chart_options %}</center>
{% endblock %}
{% block content %}
<h1>{{title_content}}</h1>
<h2>{{forecast_content}}</h2>
<div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(
    document.getElementById("graphdiv"),

    {% for item in values %}
        "{{ item }}"+
    {% endfor %}
    ""
  );
</script>

{% endblock %}