{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script src="{% static "scripts/switch.js" %}"></script>
{% endblock %}
{% block quotes %}{{quotes}}{% endblock %}
{% block period %}
    {% include period_state %}
{% endblock %}

{% block content %}
<h3>Центральный банк Российской Федерации установил с {{current_date}} следующие курсы иностранных валют к рублю Российской Федерации без обязательств Банка России покупать или продавать указанные валюты по данному курсу </h3>

    <table id="currency_table" border="0">
        {% for currency_row in currency %}
            <tr>
                {% for item in currency_row %}
                <td>
                    {% if item.state %}
                        <a href="/{{item.link}}" style="color:#000000; text-decoration: none">
                            <div class="currency_green" id="{{ item.char_code }}">
                                <center>
                                    <h2>{{ item.char_code }}</h2>
                                    <p>{{ item.name }}</p>
                                    <b><p>{{ item.value }} / {{ item.units }}</b></p>
                                    <b><p>+{{ item.change }}</p></b>
                                </center>
                            </div>
                        </a>
                    {% else %}
                        <a href="/{{item.link}}" style="color:#000000; text-decoration: none">
                            <div class="currency_red" id="{{ item.char_code }}">
                                <center>
                                    <h2>{{ item.char_code }}</h2>
                                    <p>{{ item.name }}</p>
                                    <b><p>{{ item.value }} / {{ item.units }}</p></b>
                                    <b><p>{{ item.change }}</p></b>
                                </center>
                            </div>
                        </a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}