<form action="/forecast/" method="get">
    <select name="currency">
      <option>Выберите валюту</option>
      <option>USD - Доллар США</option>
      <option>EUR - Евро</option>
      <option>AUD - Австралийский доллар</option>
      <option>AZN - Азербайджанский манат</option>
      <option>AMD - Армянский драм</option>
      <option>BYR - Белорусский рубль</option>
      <option>BGN - Болгарский лев</option>
      <option>BRL - Бразильский реал</option>
      <option>HUF - Венгерский форинт</option>
      <option>KRW - Вон Республики Корея</option>
      <option>DKK - Датская крона</option>
      <option>INR - Индийский рупий</option>
      <option>KZT - Казахстанский тенге</option>
      <option>CAD - Канадский доллар</option>
      <option>KGS - Киргизский сом</option>
      <option>CNY - Китайский юань</option>
      <option>LTL - Литовский лит</option>
      <option>MDL - Молдавский лей</option>
      <option>RON - Румынский лей</option>
      <option>TMT - Туркменский манат</option>
      <option>NOK - Норвежская крона</option>
      <option>PLN - Польский злотый</option>
      <option>XDR - СДР</option>
      <option>SGD - Сингапурский доллар</option>
      <option>TJS - Таджикский сомони</option>
      <option>TRY - Турецкая лира</option>
      <option>UZS - Узбекский сум</option>
      <option>UAH - Украинская гривна</option>
      <option>GBP - Фунт стерлингов</option>
      <option>CZK - Чешская крона</option>
      <option>SEK - Шведская крона</option>
      <option>CHF - Швейцарский франк</option>
      <option>ZAR - Южноафриканский ранд</option>
      <option>JPY - Японская иена</option>
    </select>
    <input type="submit" value="Построить график">
</form>
