<table border="0">
    <tr>
        <td>
            {% load staticfiles %}
            <a id="1d_button" href="/1d/"><img src="{% static "images/buttons_period/1d_off.png" %}" alt="My image"/></a>
        </td>
        <td>
            {% load staticfiles %}
            <a id="1w_button" href="/1w/"><img src="{% static "images/buttons_period/1w_off.png" %}" alt="My image"/></a>
        </td>
        <td>
            {% load staticfiles %}
            <a id="1m_button" href="/1m/"><img src="{% static "images/buttons_period/1m_off.png" %}" alt="My image"/></a>
        </td>
        <td>
            {% load staticfiles %}
            <a id="3m_button" href="/3m/"><img src="{% static "images/buttons_period/3m_off.png" %}" alt="My image"/></a>
        </td>
        <td>
            {% load staticfiles %}
            <a id="6m_button" href="/6m/"><img src="{% static "images/buttons_period/6m_off.png" %}" alt="My image"/></a>
        </td>
        <td>
            {% load staticfiles %}
            <a id="1y_button" href="/1y/"><img src="{% static "images/buttons_period/1y_on.png" %}" alt="My image"/></a>
        </td>
        <td>
            {% load staticfiles %}
            <a id="5y_button" href="/5y/"><img src="{% static "images/buttons_period/5y_off.png" %}" alt="My image"/></a>
        </td>
        <td>
            {% load staticfiles %}
            <a id="10y_button" href="/10y/"><img src="{% static "images/buttons_period/10y_off.png" %}" alt="My image"/></a>
        </td>
    </tr>
</table>